@import url('https://fonts.googleapis.com/css2?family=Economica&family=Lato&display=swap');

blockquote{
  background: var(--ion-color-light);
  border-left: 2px solid grey;
}

h1,h2,h3,h4{
  font-family: Economica;
}
